# Data science Project

## Intro

In this project we going to explor data about ELAL's flight history.
The perpose is to explor if we can to predict if ELAL's flight will delayd or canceld

### Imports

In [3]:
import requests
import json
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from bs4 import BeautifulSoup
import os
import time

### Const Varibles

In [4]:
BASE_URL='https://api.flightstats.com/flex/flightstatus/historical/rest/v3/json/'
APP_KEY='1073eea843b49ef65cd3dedce57340e0'
APP_ID='a55ccedd'
ElAl_AIRCRAFTS_WEB_URL = 'https://www.elal.com/heb/about-elal/our-fleet/all-aircraft'
FLIGHTEAR_Base_URL = 'https://www.flightera.net/en/planes/'

AIRCRAFTS_DATA_FILE = 'aircrafts.json'
FLIGHT_Data_FILE = 'flights_data.json'
FLIGHTS_SCAN_METADATA_FILE = 'flights_scan_metadata.json'

TAIL_NUMBER_FEILD_NAME = 'tail_number'
FIRST_FLIGHT_DATE_FEILD_NAME = 'first_flight_date'
LAST_FLIGHT_DATE_FEILD_NAME = 'last-flight_date'
SEATS_FEILD_NAME = 'seats'
LAST_SCANNED__DATE_FEILD_NAME = 'last_scanned_date'

Mounths dictianery used to translate month name to numbrr

In [5]:
months = {
        'jan': 1,
        'feb': 2,
        'mar': 3,
        'apr':4,
         'may':5,
         'jun':6,
         'jul':7,
         'aug':8,
         'sep':9,
         'oct':10,
         'nov':11,
         'dec':12
        }

## General functions

Functions that store and loads data from files

In [6]:
def store_object_to_file(file_name,data):
    with open(file_name, 'w') as outfile:
        json.dump(data, outfile)

In [7]:
def load_object_from_file(filename):
    with open(filename) as f:
        return json.load(f)

In [8]:
def store_data_to_aircrafts_file(tailnumber,feild_name,data):
    aircrafts_list = load_object_from_file(AIRCRAFTS_DATA_FILE)
    for i,aircraft in enumerate(aircrafts_list):
        if(tailnumber == aircraft[TAIL_NUMBER_FEILD_NAME]):
            aircrafts_list[i][feild_name] = data
            store_object_to_file(AIRCRAFTS_DATA_FILE,aircrafts_list)
            return

In [9]:
def load_data_from_aircrafts_file(tailnumber,feild_name):
    aircrafts_list = load_object_from_file(AIRCRAFTS_DATA_FILE)
    for aircraft in aircrafts_list:
        if(tailnumber == aircraft[TAIL_NUMBER_FEILD_NAME]):
            if feild_name in aircraft:
                return aircraft[feild_name]
            else:
                return None

### API functions

In [44]:
# "BASE URL + flight/status/tailNumber/4x-ELA/2015/1/1?appId=b1aa7a60&appKey=ed14bb251c167a18733cccbf86105175"

def get_Flight_by_date_and_tail_number(date,tail_number, days_per_request = 1):
    formatted_date = date.strftime("%Y/%m/%d")

    #URL = BASE_URL + 'flight/status/tailNumber/' + tail_number + '/' + formatted_date + '?appId=' + APP_KEY + '&appKey=' + API_KEY
    URL = BASE_URL+'flight/status/tailNumber/'+tail_number+'/'+formatted_date+'?appId='+APP_ID+'&appKey='+APP_KEY+'&numDays='+str(days_per_request)
    response = requests.get(URL)
    json_res =  response.json()
    if 'flightStatuses' in json_res: return json_res['flightStatuses'] , None
    if('error' in json_res): return None , json_res['error']
    return None, json_res

test the api

In [11]:
res = get_Flight_by_date_and_tail_number(datetime(2019,2,2),'4X-ELA')
res

(None,
 {'error': {'httpStatusCode': 403,
   'errorId': '8936bde3-52a6-43fa-abed-eed3cbe81453',
   'errorMessage': 'usage limits are exceeded'}})

## Get information that we need before start to send api requests

To send this API request we have to know the aircradt tail number
we will get this informaition from elal web side via crouling

In [12]:
elal_web_res = requests.get(ElAl_AIRCRAFTS_WEB_URL)

In [13]:

elal_soup = BeautifulSoup(elal_web_res.content)

Define functios that clean the data


The format of right israeli tail number is '4X-' and 3 letters
like: '$X-ABC'

In [14]:
def clean_tail_numberst(tail_number):
    tail_number = tail_number.upper()
    first_instance_of_4x = tail_number.find('4X-')
    new_tail_number = tail_number[first_instance_of_4x:first_instance_of_4x+6]
    return new_tail_number

In [15]:
def clean_aircraft_name(name):
    return str(name.replace('\u200b',''))

In [16]:
def clean_model(model):
    model = model.strip()
    return model[3:]

Define function that return list of aircraft with ther usefull data

In [17]:
def get_basic_aircrafts_data_list():
    aircrafts_list=[]
    tables_list = elal_soup.find_all('tbody')
    headers_list = elal_soup.find_all('span',class_ = 'mat-content')
    for j,table in enumerate(tables_list):
        rows_list = table.findAll('tr')
        for row in rows_list[1:]:
            cells_list = row.findAll('td')
            for i,cell in enumerate(cells_list[1::2]):
                aircraft_object = {}
                aircraft_object['tail_number'] = clean_tail_numberst(cell.get_text())
                aircraft_object['model'] = clean_model(headers_list[j].get_text())
                aircraft_object['name'] = clean_aircraft_name(cells_list[i].get_text())
                aircrafts_list.append(aircraft_object)      
    return aircrafts_list
basic_data = get_basic_aircrafts_data_list()
if (not os.path.exists(AIRCRAFTS_DATA_FILE)):
    store_object_to_file(AIRCRAFTS_DATA_FILE,basic_data)
#basic_data

### Get more Advanced information about aircraft that not exost in ELAL website

this dictianery store soap object about each aircraft
it use to lower the http get request to flightera website becaue it will block us if we try to request each time we want more information about the same aircraft

In [18]:
flightEra_soaps_dict = {}

Define function that get flightera soap object of spesific air craft

if we also have soap object about this aircraft in the dict we just need to return it
else, we create http request, convert it to soap object and store it to the dist. then return it

In [20]:
def get_flghtera_soap_by_tail_number(tail_number): 
    if (tail_number.lower() not in flightEra_soaps_dict):       
        URL = FLIGHTEAR_Base_URL + tail_number
        flightera_response = requests.get(URL)
        if (not flightera_response.status_code == 200):
            print('Error resived data about '+tail_number+' from FLightera web sit, error code: ' + str(flightera_response.status_code))
            return None
        flightEra_soaps_dict[tail_number] =  BeautifulSoup(flightera_response.content)
    
    return flightEra_soaps_dict[tail_number]

## Get first  and last filght date

we neet to get the first time that specific aircrat fly.
this information help us to reduse the api request we need to do because eithout it we will need to create requests for evwry day in pre known dates range and if we know the first and last flights date of the aircraft we can short the dates range

### Get first flight date

In [21]:
def get_first_flight_date_from_Cache(tail_number):
    return load_data_from_aircrafts_file(tail_number,FIRST_FLIGHT_DATE_FEILD_NAME)

In [22]:
def store_first_flight_date_data(tail_number,first_flight_date):
    store_data_to_aircrafts_file(tail_number,FIRST_FLIGHT_DATE_FEILD_NAME,first_flight_date)

In [23]:
def clean_first_flight_dtate_string(date_str):
    clean_str = date_str.replace('\n', '')
    clean_str = clean_str.strip()
    clean_str = clean_str[:clean_str.find('(')]
    clean_str = clean_str.strip()
    return clean_str

In [24]:
def convert_daytime_to_dict(date):
    if (date == None):
         return None
    return {
        'year' : date.year,
        'month' : date.month,
        'day' : date.day
    }

In [25]:
def get_first_flight_date_by_crowling(tail_number):
    aircraft_soap = get_flghtera_soap_by_tail_number(tail_number.lower())
    if(not aircraft_soap): 
        return None
    try:
        for td in flightEra_soaps_dict['4x-eda'].find_all('td'):
            if(td.get_text().find('years ago') != -1):
                date_string = td.get_text()
        date_string = clean_first_flight_dtate_string(date_string)
        month , year = date_string.split(' ')
        return convert_daytime_to_dict(datetime(int(year),int(months[month.lower()]),27))
    except:
        return None
    return None

In [26]:
def get_first_flight_date_by_tailnnumber(tail_number):
    cashed_data = get_first_flight_date_from_Cache(tail_number)
    
    if(cashed_data):
        return cashed_data
    else: 
        first_flight_date_data = get_first_flight_date_by_crowling(tail_number)
        if(first_flight_date_data):
            store_first_flight_date_data(tail_number,first_flight_date_data)
            return first_flight_date_data
        return None

### Get Last flight date

In [27]:
def get_last_flight_date_from_Cache(tail_number):
    return load_data_from_aircrafts_file(tail_number,LAST_FLIGHT_DATE_FEILD_NAME)

In [28]:
def store_last_flight_date_data(tail_number,last_flight_date):
    store_data_to_aircrafts_file(tail_number,LAST_FLIGHT_DATE_FEILD_NAME,last_flight_date)

In [29]:
def clean_last_flight_month(mnt):
    mnt = mnt.replace('\t','')
    mnt = mnt.strip()
    mnt = mnt[:3]
    return mnt.lower()

In [30]:
def get_last_flight_date_by_crowling(tail_number):
    aircraft_soap = get_flghtera_soap_by_tail_number(tail_number.lower())
    if(not aircraft_soap): return None
    try:
        year = int(aircraft_soap.find('body').find_all('div',class_='sm:px-6')[4].find_all('dt')[0].get_text())
        month = aircraft_soap.find('body').find_all('div',class_='sm:px-6')[4].find_all('dl')[0].find_all('dd')[0].find_all('div')[0].get_text()
        month = clean_last_flight_month(month)
        
        last_flight_date = datetime(year,months[month],1)
        return convert_daytime_to_dict(last_flight_date)
    except:
        return None
    return None

In [31]:
def get_last_flight_date_by_tailnnumber(tail_number):
    cashed_data = get_last_flight_date_from_Cache(tail_number)
    if(cashed_data): return cashed_data
    else: 
        last_flight_date_data = get_last_flight_date_by_crowling(tail_number)
        if(last_flight_date_data):
            store_last_flight_date_data(tail_number,last_flight_date_data)
            return last_flight_date_data
        return None

## Get number of seats per aircraft

this information can be usefull to predict the dilay time of flight

In [32]:
def store_seats_data(tail_number,seats_object):
    store_data_to_aircrafts_file(tail_number,SEATS_FEILD_NAME,seats_object)

In [33]:
def get_seats_from_Cache(tail_number):
    return load_data_from_aircrafts_file(tail_number,SEATS_FEILD_NAME)

In [34]:
def get_seats_by_crowling(tail_number):
    aircraft_soap = get_flghtera_soap_by_tail_number(tail_number.lower())
    aircraft_seat_object = {}
    try:
        span_list = aircraft_soap.find_all('dl')[0].find_all('div')[0].find_all('td')[9].find_all('span')
    except:
        return None
    for span in span_list:
        content  = span.get_text()
        seat , class_ = content.split(' ')
        aircraft_seat_object[class_] = str(seat)
        
    return aircraft_seat_object

In [35]:
def get_seats_by_tail_number(tail_number):
    cashed_data = get_seats_from_Cache(tail_number)
    if(cashed_data): return cashed_data
    else: 
        seats_data = get_seats_by_crowling(tail_number)
        if(seats_data):
            store_seats_data(tail_number,seats_data)
            return seats_data
        return None

### Last scanned date

we store the last scanned date,
this date is the last date from all the days this air craft was active that we know the flight history of.

for example if the aircraft is active from 1/1/2017 untill today and last scanned date is 1/3/2017 it's mean we have all the flights of this aircraft from 1/1/2017 to 1/3/2017.

this information help us to avoid duplicate flights in our dataset and minimize the number of api requests

In [36]:
def get_last_scanned_date_from_Cache(tail_number):
    return load_data_from_aircrafts_file(tail_number,LAST_SCANNED__DATE_FEILD_NAME)

In [37]:
def get_last_scanned_date_of_aircraft(tail_number):
    cashed_data = get_last_scanned_date_from_Cache(tail_number)
    if(cashed_data): return cashed_data
    else: 
        last_scanned_date = load_data_from_aircrafts_file(tail_number,FIRST_FLIGHT_DATE_FEILD_NAME) 
        if(last_scanned_date):
            store_data_to_aircrafts_file(tail_number,LAST_SCANNED__DATE_FEILD_NAME,last_scanned_date)
            return last_scanned_date
        return None

## Put all this data togeter

Define function that get advanced information about eace air crafr
this function call to every function that can add information about spesific aircraft

In [38]:
def get_aircrafts_full_information():
    aircrafts_list = get_basic_aircrafts_data_list()
    for aircraft in aircrafts_list:
        #Add first flight date information
        first_flght_date_data = get_first_flight_date_by_tailnnumber(aircraft[TAIL_NUMBER_FEILD_NAME])
        if(first_flght_date_data):
            aircraft[FIRST_FLIGHT_DATE_FEILD_NAME] = first_flght_date_data

        #Add last flight date information
        last_flght_date_data = get_last_flight_date_by_tailnnumber(aircraft[TAIL_NUMBER_FEILD_NAME])
        if(last_flght_date_data):
            aircraft[LAST_FLIGHT_DATE_FEILD_NAME] = last_flght_date_data

        #Add seats to airplanes data
        seats_data = get_seats_by_tail_number(aircraft[TAIL_NUMBER_FEILD_NAME])
        if(seats_data):
            aircraft[SEATS_FEILD_NAME] = seats_data
        
        last_scanned_daate = get_last_scanned_date_of_aircraft(aircraft[TAIL_NUMBER_FEILD_NAME])
        if(last_scanned_daate):
            aircraft[LAST_SCANNED__DATE_FEILD_NAME] = last_scanned_daate



    return aircrafts_list

We will add one more feild to the aircraft data that contain the last data that the API Checked

## Preview our aircrafts data

In [47]:
def get_airrcrafts_data_as_dataframe():
    aircrafts_list = get_aircrafts_full_information()
    df = pd.DataFrame(aircrafts_list)
    return df
aircrafts_df = get_airrcrafts_data_as_dataframe()
aircrafts_df

,tail_number,model,name,first_flight_date,last-flight_date,seats,last_scanned_date
0,4X-EDA,787,אשדוד,"{'year': 2017, 'month': 7, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2022, 'month': 10, 'day': 27}"
1,4X-EDB,787,ראשון לציון,"{'year': 2017, 'month': 9, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2022, 'month': 8, 'day': 3}"
2,4X-EDC,787,תל אביב,"{'year': 2018, 'month': 1, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '35', 'Economy': '2...","{'year': 2022, 'month': 11, 'day': 23}"
3,4X-EDD,787,חיפה,"{'year': 2018, 'month': 2, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2022, 'month': 8, 'day': 21}"
4,4X-EDE,787,בת ים,"{'year': 2018, 'month': 6, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2022, 'month': 3, 'day': 28}"
5,4X-EDF,787,רחובות,"{'year': 2018, 'month': 7, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2022, 'month': 1, 'day': 28}"
6,4X-EDH,787,באר שבע,"{'year': 2018, 'month': 10, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2022, 'month': 4, 'day': 18}"
7,4X-EDI,787,הרצליה,"{'year': 2018, 'month': 12, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2022, 'month': 6, 'day': 18}"
8,4X-EDJ,787,כפר סבא,"{'year': 2019, 'month': 3, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2022, 'month': 9, 'day': 16}"
9,4X-EDK,787,אילת,"{'year': 2019, 'month': 6, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2022, 'month': 12, 'day': 14}"
10,4X-EDL,787,עכו,"{'year': 2019, 'month': 7, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2023, 'month': 1, 'day': 11}"
11,4X-EDM,787,ירושלים של זהב,"{'year': 2019, 'month': 9, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2023, 'month': 3, 'day': 14}"
12,4X-ERA,787,רמת השרון,"{'year': 2019, 'month': 11, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '20', 'Eco+': '35', 'Economy': '1...","{'year': 2023, 'month': 3, 'day': 10}"
13,4X-ERB,787,הוד השרון,"{'year': 2017, 'month': 7, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '20', 'Eco+': '35', 'Economy': '1...","{'year': 2021, 'month': 1, 'day': 6}"
14,4X-ERC,787,דליית אל כרמל,"{'year': 2020, 'month': 2, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '20', 'Eco+': '35', 'Economy': '1...","{'year': 2023, 'month': 3, 'day': 12}"
15,4X-ECA,777,פתח תקווה,"{'year': 2001, 'month': 1, 'day': 27}","{'year': 2020, 'month': 9, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2004, 'month': 7, 'day': 9}"
16,4X-ECB,777,נתניה,"{'year': 2001, 'month': 2, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2004, 'month': 8, 'day': 9}"
17,4X-ECC,777,חולון,"{'year': 2001, 'month': 4, 'day': 27}","{'year': 2020, 'month': 6, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2004, 'month': 10, 'day': 7}"
18,4X-ECD,777,רמת גן,"{'year': 2002, 'month': 5, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2005, 'month': 11, 'day': 6}"
19,4X-ECE,777,שדרות,"{'year': 2007, 'month': 6, 'day': 27}","{'year': 2020, 'month': 7, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2010, 'month': 9, 'day': 8}"
20,4X-ECF,777,קרית שמונה,"{'year': 2007, 'month': 8, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2010, 'month': 9, 'day': 8}"
21,4X-EKA,737-800,טבריה,"{'year': 2017, 'month': 7, 'day': 27}","{'year': 2021, 'month': 9, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2019, 'month': 9, 'day': 22}"
22,4X-EKB,737-800,אשקלון,"{'year': 2017, 'month': 7, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2019, 'month': 9, 'day': 22}"
23,4X-EKC,737-800,בית שאן,"{'year': 2017, 'month': 7, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2019, 'month': 9, 'day': 22}"
24,4X-EKF,737-800,כנרת,"{'year': 2008, 'month': 12, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2011, 'month': 2, 'day': 22}"
25,4X-EKH,737-800,חדרה,"{'year': 2009, 'month': 4, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2011, 'month': 6, 'day': 23}"
26,4X-EKJ,737-800,דגניה,"{'year': 2009, 'month': 5, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2011, 'month': 7, 'day': 23}"
27,4X-EKL,737-800,נהלל,"{'year': 2009, 'month': 6, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2011, 'month': 8, 'day': 23}"
28,4X-EKT,737-800,בית שמש,"{'year': 2006, 'month': 6, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Eco+': '36', 'Economy': '144'}","{'year': 2008, 'month': 8, 'day': 22}"
29,4X-EKI,737-800,מודיעין מכבים רעות,"{'year': 1999, 'month': 1, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '150'}","{'year': 2001, 'month': 3, 'day': 15}"
30,4X-EKO,737-800,לוד,"{'year': 2003, 'month': 4, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}",{'Economy': '180'},"{'year': 2005, 'month': 6, 'day': 12}"
31,4X-EKP,737-800,נהריה,"{'year': 2001, 'month': 8, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2003, 'month': 10, 'day': 8}"
32,4X-EKS,737-800,קיסריה,"{'year': 2008, 'month': 8, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2010, 'month': 10, 'day': 8}"
33,4X-EKM,737-800,רמלה,"{'year': 2000, 'month': 2, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Eco+': '36', 'Economy': '144'}","{'year': 2002, 'month': 4, 'day': 9}"
34,4X-EKR,737-800,גבעתיים,"{'year': 2000, 'month': 2, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}",{'Economy': '185'},"{'year': 2002, 'month': 4, 'day': 9}"
35,4X-EKU,737-800,רעננה,"{'year': 2006, 'month': 4, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Eco+': '36', 'Economy': '144'}","{'year': 2008, 'month': 6, 'day': 7}"
36,4X-EKK,737-800,גבעת שמואל,"{'year': 2017, 'month': 7, 'day': 27}",NaN,NaN,"{'year': 2019, 'month': 9, 'day': 7}"
37,4X-EHA,737-900,קריית אונו,"{'year': 2013, 'month': 9, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2015, 'month': 11, 'day': 8}"
38,4X-EHB,737-900,קריית ביאליק,"{'year': 2013, 'month': 11, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2016, 'month': 1, 'day': 8}"
39,4X-EHC,737-900,קריית אתא,"{'year': 2014, 'month': 7, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2016, 'month': 9, 'day': 6}"
40,4X-EHD,737-900,קריית גת,"{'year': 2015, 'month': 2, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2017, 'month': 4, 'day': 9}"
41,4X-EHE,737-900,קריית טבעון,"{'year': 2014, 'month': 3, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2016, 'month': 5, 'day': 7}"
42,4X-EHF,737-900,קריית ים,"{'year': 2016, 'month': 2, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '159'}","{'year': 2018, 'month': 4, 'day': 9}"
43,4X-EHH,737-900,קריית מוצקין,"{'year': 2016, 'month': 2, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2018, 'month': 4, 'day': 9}"
44,4X-EHI,737-900,קריית מלאכי,"{'year': 2016, 'month': 3, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2018, 'month': 5, 'day': 8}"

## Start to collect data about flight

Define function that collect data about aircraft between 2 dates

we use date as dict in the formate:
{
    'year' : YYYY,
    'month' : MM,
    'day' : DD
}

In [40]:
def get_dates_between(start_date, end_date):
    delta = end_date - start_date      
    date_list = []                     
    
    for i in range(delta.days + 1):     
        date_list.append(start_date + timedelta(days=i))   
    
    return date_list

In [41]:
def get_new_aircraft_flights(tail_number,max_number_of_days,limit_date = None,days_per_request = 1):
    aircrafts_list = get_aircrafts_full_information()
    flights_list = []
    if(os.path.exists(FLIGHT_Data_FILE)):
        flights_list = load_object_from_file(FLIGHT_Data_FILE)
    print('Collectiong '+tail_number+' flights')
    for aircraft in aircrafts_list:
        if(aircraft[TAIL_NUMBER_FEILD_NAME] == tail_number):
            first_flight_date_dict = None
            last_flight_date_dict = None
            first_flight_date = datetime(2000,1,27)
            last_flight_date = datetime.today()
            
            if(LAST_SCANNED__DATE_FEILD_NAME in aircraft):
                first_flight_date_dict = aircraft[LAST_SCANNED__DATE_FEILD_NAME]

            if(limit_date):
                last_flight_date = limit_date

            elif(LAST_FLIGHT_DATE_FEILD_NAME in aircraft):
                last_flight_date_dict = aircraft[LAST_FLIGHT_DATE_FEILD_NAME]

            if(first_flight_date_dict):
                first_flight_date = datetime(int(first_flight_date_dict['year']), int(first_flight_date_dict['month']),int(first_flight_date_dict['day']) )
            
            if(last_flight_date_dict):
                last_flight_date = datetime(int(last_flight_date_dict['year']),int(last_flight_date_dict['month']),int(last_flight_date_dict['day']) )
            
            for current_date in get_dates_between(first_flight_date,last_flight_date)[:max_number_of_days:days_per_request]:
                print(tail_number+' '+str(current_date))
                new_flights , error = get_Flight_by_date_and_tail_number(current_date,tail_number.upper(),days_per_request)
                if(new_flights):
                    flights_list.extend(new_flights)
                    store_data_to_aircrafts_file(aircraft[TAIL_NUMBER_FEILD_NAME],LAST_SCANNED__DATE_FEILD_NAME,convert_daytime_to_dict(current_date + timedelta(1)))
                    store_object_to_file(FLIGHT_Data_FILE,flights_list)
                else:
                    return flights_list , error
                    
            return flights_list , None

In [42]:
def get_all_aricrafts_flights(max_number_of_days,days_per_request):
    aircrafts_list = get_aircrafts_full_information()
    for aircraft in aircrafts_list:
        flights , error =get_new_aircraft_flights(aircraft[TAIL_NUMBER_FEILD_NAME],max_number_of_days,days_per_request=days_per_request)
        if(error):
            print(error)
            break
    return load_object_from_file(FLIGHT_Data_FILE)

In [46]:
list = get_all_aricrafts_flights(400,30)
len(list*30*2)

Collectiong 4X-EDA flights
4X-EDA 2022-10-27 00:00:00
{'httpStatusCode': 403, 'errorId': '9fa12874-f19d-4aba-b72d-890dc9b8b6d6', 'errorMessage': 'usage limits are exceeded'}

37380

# Data Exporation

## Intert all flights data into dataframe

In [ ]:
def get_all_flights_dataframe():
    flights = load_object_from_file(FLIGHT_Data_FILE)
    return pd.DataFrame(flights)

## Preview the fights data

In [ ]:
flights_df = get_all_flights_dataframe()

In [ ]:

flights_df.head()

In [ ]:
flights_df.info()

In [ ]:
df.describe()

## Add aircraft data into flights data

We can add more information ablur each flight if we merge out air craft data with the aircraft used in the spesific flight

the next function add the air craft seats number dictionary as flight feature

In [ ]:
def add_aircraft_seats_number_to_flight(flights_df, aircrafts_df):
    flights_df[SEATS_FEILD_NAME] = aircrafts_df[SEATS_FEILD_NAME]
    return flights_df

In [ ]:
flights_df =  add_aircraft_seats_number_to_flight(flights_df,aircrafts_df)
flights_df