# Data science Project

## Intro

In this project we going to explor data about ELAL's flight history.
The perpose is to explor if we can to predict if ELAL's flight will delayd or canceld

### Imports

In [1]:
import requests
import json
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from bs4 import BeautifulSoup
import os
import time

### Const Varibles

In [2]:
BASE_URL='https://api.flightstats.com/flex/flightstatus/historical/rest/v3/json/'


# APP_KEY='1073eea843b49ef65cd3dedce57340e0'
# APP_ID='a55ccedd'

# APP_KEY='9981b617cba5bb3f32d90ba0da4e2af4'
# APP_ID='65c679ae'

# APP_KEY= '9fb822148287f2805212cc61c199d8f8'
# APP_ID = 'd7585437'

APP_KEY = 'eca188e5f3d730ee5d28907112889342'
APP_ID = '4176580c'


ElAl_AIRCRAFTS_WEB_URL = 'https://www.elal.com/heb/about-elal/our-fleet/all-aircraft'
FLIGHTEAR_Base_URL = 'https://www.flightera.net/en/planes/'

AIRCRAFTS_DATA_FILE = 'aircrafts.json'
FLIGHT_Data_FILE = 'flights_data.json'
FLIGHTS_SCAN_METADATA_FILE = 'flights_scan_metadata.json'

TAIL_NUMBER_FEILD_NAME = 'tail_number'
FIRST_FLIGHT_DATE_FEILD_NAME = 'first_flight_date'
LAST_FLIGHT_DATE_FEILD_NAME = 'last-flight_date'
SEATS_FEILD_NAME = 'seats'
LAST_SCANNED__DATE_FEILD_NAME = 'last_scanned_date'

Mounths dictianery used to translate month name to numbrr

In [3]:
months = {
        'jan': 1,
        'feb': 2,
        'mar': 3,
        'apr':4,
         'may':5,
         'jun':6,
         'jul':7,
         'aug':8,
         'sep':9,
         'oct':10,
         'nov':11,
         'dec':12
        }

## General functions

Functions that store and loads data from files

In [4]:
def store_object_to_file(file_name,data):
    with open(file_name, 'w') as outfile:
        json.dump(data, outfile)

In [5]:
def load_object_from_file(filename):
    if(not os.path.exists(filename)):
        return None
    with open(filename) as f:
        return json.load(f)

In [6]:
def store_data_to_aircrafts_file(tailnumber,feild_name,data):
    aircrafts_list = load_object_from_file(AIRCRAFTS_DATA_FILE)
    if(not aircrafts_list):
        aircrafts_list = []
    for i,aircraft in enumerate(aircrafts_list):
        if(tailnumber == aircraft[TAIL_NUMBER_FEILD_NAME]):
            aircrafts_list[i][feild_name] = data
            store_object_to_file(AIRCRAFTS_DATA_FILE,aircrafts_list)
            return

In [7]:
def load_data_from_aircrafts_file(tailnumber,feild_name):
    if(not os.path.exists(AIRCRAFTS_DATA_FILE)):
        return None
    aircrafts_list = load_object_from_file(AIRCRAFTS_DATA_FILE)
    for aircraft in aircrafts_list:
        if(tailnumber == aircraft[TAIL_NUMBER_FEILD_NAME]):
            if feild_name in aircraft:
                return aircraft[feild_name]
            else:
                return None

### API functions

In [8]:
# "BASE URL + flight/status/tailNumber/4x-ELA/2015/1/1?appId=b1aa7a60&appKey=ed14bb251c167a18733cccbf86105175"

def get_Flight_by_date_and_tail_number(date,tail_number, days_per_request):
    formatted_date = date.strftime("%Y/%m/%d")

    #URL = BASE_URL + 'flight/status/tailNumber/' + tail_number + '/' + formatted_date + '?appId=' + APP_KEY + '&appKey=' + API_KEY
    URL = BASE_URL+'flight/status/tailNumber/'+tail_number+'/'+formatted_date+'?appId='+APP_ID+'&appKey='+APP_KEY+'&numDays=30'#+str(days_per_request)
    response = requests.get(URL)
    json_res =  response.json()
    if 'flightStatuses' in json_res: return json_res['flightStatuses'] , None
    if('error' in json_res): return None , json_res['error']
    return None, json_res[0]

test the api

In [9]:
# res = get_Flight_by_date_and_tail_number(datetime(2017,9,28),'4X-EDA',days_per_request=30)
# res

## Get information that we need before start to send api requests

To send this API request we have to know the aircradt tail number
we will get this informaition from elal web side via crouling

In [10]:
elal_web_res = requests.get(ElAl_AIRCRAFTS_WEB_URL)

In [11]:

elal_soup = BeautifulSoup(elal_web_res.content)

Define functios that clean the data


The format of right israeli tail number is '4X-' and 3 letters
like: '$X-ABC'

In [12]:
def clean_tail_numberst(tail_number):
    tail_number = tail_number.upper()
    first_instance_of_4x = tail_number.find('4X-')
    new_tail_number = tail_number[first_instance_of_4x:first_instance_of_4x+6]
    return new_tail_number

In [13]:
def clean_aircraft_name(name):
    return str(name.replace('\u200b',''))

In [14]:
def clean_model(model):
    model = model.strip()
    return model[3:]

Define function that return list of aircraft with ther usefull data

In [15]:
def get_basic_aircrafts_data_list():
    if(os.path.exists(AIRCRAFTS_DATA_FILE)):
        return load_object_from_file(AIRCRAFTS_DATA_FILE)
    
    aircrafts_list=[]
    tables_list = elal_soup.find_all('tbody')
    headers_list = elal_soup.find_all('span',class_ = 'mat-content')
    for j,table in enumerate(tables_list):
        rows_list = table.findAll('tr')
        for row in rows_list[1:]:
            cells_list = row.findAll('td')
            for i,cell in enumerate(cells_list[1::2]):
                aircraft_object = {}
                aircraft_object['tail_number'] = clean_tail_numberst(cell.get_text())
                aircraft_object['model'] = clean_model(headers_list[j].get_text())
                aircraft_object['name'] = clean_aircraft_name(cells_list[i].get_text())
                aircrafts_list.append(aircraft_object) 

    if (not os.path.exists(AIRCRAFTS_DATA_FILE)):
        store_object_to_file(AIRCRAFTS_DATA_FILE,aircrafts_list)   
    return aircrafts_list

#basic_data

### Get more Advanced information about aircraft that not exost in ELAL website

this dictianery store soap object about each aircraft
it use to lower the http get request to flightera website becaue it will block us if we try to request each time we want more information about the same aircraft

In [16]:
flightEra_soaps_dict = {}

Define function that get flightera soap object of spesific air craft

if we also have soap object about this aircraft in the dict we just need to return it
else, we create http request, convert it to soap object and store it to the dist. then return it

In [17]:
def get_flghtera_soap_by_tail_number(tail_number): 
    if (tail_number.lower() not in flightEra_soaps_dict):       
        URL = FLIGHTEAR_Base_URL + tail_number
        flightera_response = requests.get(URL)
        if (not flightera_response.status_code == 200):
            print('Error resived data about '+tail_number+' from FLightera web sit, error code: ' + str(flightera_response.status_code))
            return None
        flightEra_soaps_dict[tail_number] =  BeautifulSoup(flightera_response.content)
    
    return flightEra_soaps_dict[tail_number]

## Get first  and last filght date

we neet to get the first time that specific aircrat fly.
this information help us to reduse the api request we need to do because eithout it we will need to create requests for evwry day in pre known dates range and if we know the first and last flights date of the aircraft we can short the dates range

### Get first flight date

In [18]:
def get_first_flight_date_from_Cache(tail_number):
    return load_data_from_aircrafts_file(tail_number,FIRST_FLIGHT_DATE_FEILD_NAME)

In [19]:
def store_first_flight_date_data(tail_number,first_flight_date):
    store_data_to_aircrafts_file(tail_number,FIRST_FLIGHT_DATE_FEILD_NAME,first_flight_date)

In [20]:
def clean_first_flight_dtate_string(date_str):
    clean_str = date_str.replace('\n', '')
    clean_str = clean_str.strip()
    clean_str = clean_str[:clean_str.find('(')]
    clean_str = clean_str.strip()
    return clean_str

In [21]:
def convert_daytime_to_dict(date):
    if (date == None):
         return None
    return {
        'year' : date.year,
        'month' : date.month,
        'day' : date.day
    }

In [22]:
def get_first_flight_date_by_crowling(tail_number):
    aircraft_soap = get_flghtera_soap_by_tail_number(tail_number.lower())
    if(not aircraft_soap): 
        return None
    try:
        for td in aircraft_soap.find_all('td'):
            if(td.get_text().find('years ago') != -1):
                date_string = td.get_text()
        date_string = clean_first_flight_dtate_string(date_string)
        month , year = date_string.split(' ')
        return convert_daytime_to_dict(datetime(int(year),int(months[month.lower()]),27))
    except:
        return None
    return None

In [23]:
def get_first_flight_date_by_tailnnumber(tail_number):
    cashed_data = get_first_flight_date_from_Cache(tail_number)
    
    if(cashed_data):
        return cashed_data
    else: 
        first_flight_date_data = get_first_flight_date_by_crowling(tail_number)
        if(first_flight_date_data):
            store_first_flight_date_data(tail_number,first_flight_date_data)
            return first_flight_date_data
        return None

### Get Last flight date

In [24]:
def get_last_flight_date_from_Cache(tail_number):
    return load_data_from_aircrafts_file(tail_number,LAST_FLIGHT_DATE_FEILD_NAME)

In [25]:
def store_last_flight_date_data(tail_number,last_flight_date):
    store_data_to_aircrafts_file(tail_number,LAST_FLIGHT_DATE_FEILD_NAME,last_flight_date)

In [26]:
def clean_last_flight_month(mnt):
    mnt = mnt.replace('\t','')
    mnt = mnt.strip()
    mnt = mnt[:3]
    return mnt.lower()

In [27]:
def get_last_flight_date_by_crowling(tail_number):
    aircraft_soap = get_flghtera_soap_by_tail_number(tail_number.lower())
    if(not aircraft_soap): return None
    try:
        year = int(aircraft_soap.find('body').find_all('div',class_='sm:px-6')[4].find_all('dt')[0].get_text())
        month = aircraft_soap.find('body').find_all('div',class_='sm:px-6')[4].find_all('dl')[0].find_all('dd')[0].find_all('div')[0].get_text()
        month = clean_last_flight_month(month)
        
        last_flight_date = datetime(year,months[month],1)
        return convert_daytime_to_dict(last_flight_date)
    except:
        return None
    return None

In [28]:
def get_last_flight_date_by_tailnnumber(tail_number):
    cashed_data = get_last_flight_date_from_Cache(tail_number)
    if(cashed_data): return cashed_data
    else: 
        last_flight_date_data = get_last_flight_date_by_crowling(tail_number)
        if(last_flight_date_data):
            store_last_flight_date_data(tail_number,last_flight_date_data)
            return last_flight_date_data
        return None

## Get number of seats per aircraft

this information can be usefull to predict the dilay time of flight

In [29]:
def store_seats_data(tail_number,seats_object):
    store_data_to_aircrafts_file(tail_number,SEATS_FEILD_NAME,seats_object)

In [30]:
def get_seats_from_Cache(tail_number):
    return load_data_from_aircrafts_file(tail_number,SEATS_FEILD_NAME)

In [31]:
def get_seats_by_crowling(tail_number):
    aircraft_soap = get_flghtera_soap_by_tail_number(tail_number.lower())
    aircraft_seat_object = {}
    strings = []
    try:
        for td in aircraft_soap.find_all('td'):
            if(td.get_text().find('seats') != -1):
                strings = td.get_text().split('\n')
                
    except:
        return None
    i=0
    for i,s in enumerate(strings):
        if(s.find('seats') != -1):
            break
    for content in strings[i+1:-1]:
        seat , class_ = content.split(' ')
        aircraft_seat_object[class_] = str(seat)
        print(aircraft_seat_object)

    return aircraft_seat_object

In [32]:
def get_seats_by_tail_number(tail_number):
    cashed_data = get_seats_from_Cache(tail_number)
    if(cashed_data): return cashed_data
    else: 
        seats_data = get_seats_by_crowling(tail_number)
        if(seats_data):
            store_seats_data(tail_number,seats_data)
            return seats_data
        return None

### Last scanned date

we store the last scanned date,
this date is the last date from all the days this air craft was active that we know the flight history of.

for example if the aircraft is active from 1/1/2017 untill today and last scanned date is 1/3/2017 it's mean we have all the flights of this aircraft from 1/1/2017 to 1/3/2017.

this information help us to avoid duplicate flights in our dataset and minimize the number of api requests

In [33]:
def get_last_scanned_date_from_Cache(tail_number):
    return load_data_from_aircrafts_file(tail_number,LAST_SCANNED__DATE_FEILD_NAME)

In [34]:
def get_last_scanned_date_of_aircraft(tail_number):
    cashed_data = get_last_scanned_date_from_Cache(tail_number)
    if(cashed_data): return cashed_data
    else: 
        last_scanned_date = load_data_from_aircrafts_file(tail_number,FIRST_FLIGHT_DATE_FEILD_NAME) 
        if(last_scanned_date):
            store_data_to_aircrafts_file(tail_number,LAST_SCANNED__DATE_FEILD_NAME,last_scanned_date)
            return last_scanned_date
        return None

## Put all this data togeter

Define function that get advanced information about eace air crafr
this function call to every function that can add information about spesific aircraft

In [35]:
def get_aircrafts_full_information():
    aircrafts_list = get_basic_aircrafts_data_list()
    for aircraft in aircrafts_list:
        #Add first flight date information
        first_flght_date_data = get_first_flight_date_by_tailnnumber(aircraft[TAIL_NUMBER_FEILD_NAME])
        if(first_flght_date_data):
            aircraft[FIRST_FLIGHT_DATE_FEILD_NAME] = first_flght_date_data

        #Add last flight date information
        last_flght_date_data = get_last_flight_date_by_tailnnumber(aircraft[TAIL_NUMBER_FEILD_NAME])
        if(last_flght_date_data):
            aircraft[LAST_FLIGHT_DATE_FEILD_NAME] = last_flght_date_data

        #Add seats to airplanes data
        seats_data = get_seats_by_tail_number(aircraft[TAIL_NUMBER_FEILD_NAME])
        if(seats_data):
            aircraft[SEATS_FEILD_NAME] = seats_data
        
        last_scanned_daate = get_last_scanned_date_of_aircraft(aircraft[TAIL_NUMBER_FEILD_NAME])
        if(last_scanned_daate):
            aircraft[LAST_SCANNED__DATE_FEILD_NAME] = last_scanned_daate



    return aircrafts_list

We will add one more feild to the aircraft data that contain the last data that the API Checked

## Preview our aircrafts data

In [36]:
def get_airrcrafts_data_as_dataframe():
    aircrafts_list = get_aircrafts_full_information()
    df = pd.DataFrame(aircrafts_list)
    return df
aircrafts_df = get_airrcrafts_data_as_dataframe()
aircrafts_df

Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403

,tail_number,model,name,first_flight_date,last-flight_date,seats,last_scanned_date
0,4X-EKH,737-800,חדרה,"{'year': 2009, 'month': 4, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2016, 'month': 6, 'day': 20}"
1,4X-EKJ,737-800,דגניה,"{'year': 2009, 'month': 5, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2016, 'month': 9, 'day': 22}"
2,4X-EKL,737-800,נהלל,"{'year': 2009, 'month': 6, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2016, 'month': 10, 'day': 23}"
3,4X-EKT,737-800,בית שמש,"{'year': 2006, 'month': 6, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Eco+': '36', 'Economy': '144'}","{'year': 2016, 'month': 10, 'day': 23}"
4,4X-EKI,737-800,מודיעין מכבים רעות,"{'year': 1999, 'month': 1, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '150'}","{'year': 2017, 'month': 5, 'day': 22}"
5,4X-EKO,737-800,לוד,"{'year': 2003, 'month': 4, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}",{'Economy': '180'},"{'year': 2017, 'month': 8, 'day': 20}"
6,4X-EKP,737-800,נהריה,"{'year': 2001, 'month': 8, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2016, 'month': 12, 'day': 23}"
7,4X-EKS,737-800,קיסריה,"{'year': 2008, 'month': 8, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2016, 'month': 3, 'day': 28}"
8,4X-EKM,737-800,רמלה,"{'year': 2000, 'month': 2, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Eco+': '36', 'Economy': '144'}","{'year': 2015, 'month': 5, 'day': 31}"
9,4X-EKR,737-800,גבעתיים,"{'year': 2000, 'month': 2, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}",{'Economy': '185'},"{'year': 2015, 'month': 5, 'day': 31}"
10,4X-EKU,737-800,רעננה,"{'year': 2006, 'month': 4, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Eco+': '36', 'Economy': '144'}","{'year': 2015, 'month': 7, 'day': 29}"
11,4X-EKK,737-800,גבעת שמואל,"{'year': 2014, 'month': 12, 'day': 27}",NaN,"{'Business': '16', 'Economy': '150'}","{'year': 2016, 'month': 3, 'day': 29}"
12,4X-EHA,737-900,קריית אונו,"{'year': 2013, 'month': 9, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2015, 'month': 12, 'day': 29}"
13,4X-EHB,737-900,קריית ביאליק,"{'year': 2013, 'month': 11, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2016, 'month': 2, 'day': 28}"
14,4X-EHC,737-900,קריית אתא,"{'year': 2014, 'month': 7, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2015, 'month': 10, 'day': 28}"
15,4X-EHD,737-900,קריית גת,"{'year': 2015, 'month': 2, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2015, 'month': 5, 'day': 31}"
16,4X-EHE,737-900,קריית טבעון,"{'year': 2014, 'month': 3, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2015, 'month': 6, 'day': 28}"
17,4X-EHF,737-900,קריית ים,"{'year': 2016, 'month': 2, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '159'}","{'year': 2016, 'month': 5, 'day': 30}"
18,4X-EHH,737-900,קריית מוצקין,"{'year': 2016, 'month': 2, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2016, 'month': 5, 'day': 30}"
19,4X-EHI,737-900,קריית מלאכי,"{'year': 2016, 'month': 3, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '156'}","{'year': 2016, 'month': 6, 'day': 28}"
20,4X-ELA,747,,"{'year': 1994, 'month': 4, 'day': 27}","{'year': 2019, 'month': 10, 'day': 1}","{'First': '8', 'Business': '47', 'Eco+': '34',...","{'year': 2015, 'month': 7, 'day': 29}"
21,4X-ELB,747,,"{'year': 1994, 'month': 5, 'day': 27}","{'year': 2019, 'month': 7, 'day': 1}","{'First': '8', 'Business': '47', 'Eco+': '34',...","{'year': 2015, 'month': 8, 'day': 28}"
22,4X-ELC,747,,"{'year': 1995, 'month': 5, 'day': 27}","{'year': 2019, 'month': 11, 'day': 1}","{'First': '8', 'Business': '47', 'Eco+': '34',...","{'year': 2015, 'month': 8, 'day': 28}"
23,4X-EDK,787,אילת,"{'year': 2019, 'month': 6, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2019, 'month': 6, 'day': 29}"
24,4X-EDL,787,עכו,"{'year': 2019, 'month': 7, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2019, 'month': 7, 'day': 29}"
25,4X-EDM,787,ירושלים של זהב,"{'year': 2019, 'month': 9, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2019, 'month': 9, 'day': 29}"
26,4X-ERA,787,רמת השרון,"{'year': 2019, 'month': 11, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '20', 'Eco+': '35', 'Economy': '1...","{'year': 2019, 'month': 11, 'day': 29}"
27,4X-ERB,787,הוד השרון,"{'year': 2019, 'month': 12, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '20', 'Eco+': '35', 'Economy': '1...","{'year': 2019, 'month': 12, 'day': 29}"
28,4X-ERC,787,דליית אל כרמל,"{'year': 2020, 'month': 2, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '20', 'Eco+': '35', 'Economy': '1...","{'year': 2015, 'month': 2, 'day': 28}"
29,4X-ECA,777,פתח תקווה,"{'year': 2001, 'month': 1, 'day': 27}","{'year': 2020, 'month': 9, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2015, 'month': 1, 'day': 28}"
30,4X-ECB,777,נתניה,"{'year': 2001, 'month': 2, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2015, 'month': 2, 'day': 28}"
31,4X-ECC,777,חולון,"{'year': 2001, 'month': 4, 'day': 27}","{'year': 2020, 'month': 6, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2015, 'month': 4, 'day': 28}"
32,4X-ECD,777,רמת גן,"{'year': 2002, 'month': 5, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2015, 'month': 5, 'day': 28}"
33,4X-ECE,777,שדרות,"{'year': 2007, 'month': 6, 'day': 27}","{'year': 2020, 'month': 7, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2015, 'month': 6, 'day': 28}"
34,4X-ECF,777,קרית שמונה,"{'year': 2007, 'month': 8, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'First': '6', 'Business': '35', 'Eco+': '34',...","{'year': 2015, 'month': 8, 'day': 28}"
35,4X-EKA,737-800,טבריה,"{'year': 1999, 'month': 1, 'day': 27}","{'year': 2021, 'month': 9, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2015, 'month': 1, 'day': 28}"
36,4X-EKB,737-800,אשקלון,"{'year': 1999, 'month': 4, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2015, 'month': 4, 'day': 28}"
37,4X-EKC,737-800,בית שאן,"{'year': 1999, 'month': 6, 'day': 27}","{'year': 2023, 'month': 4, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2015, 'month': 6, 'day': 28}"
38,4X-EKF,737-800,כנרת,"{'year': 2008, 'month': 12, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '16', 'Economy': '138'}","{'year': 2015, 'month': 12, 'day': 28}"
39,4X-ELD,747,,"{'year': 1999, 'month': 5, 'day': 27}","{'year': 2019, 'month': 9, 'day': 1}","{'First': '8', 'Business': '47', 'Eco+': '34',...","{'year': 2015, 'month': 5, 'day': 29}"
40,4X-ELE,747,,"{'year': 1994, 'month': 10, 'day': 27}","{'year': 2017, 'month': 12, 'day': 1}","{'First': '12', 'Business': '50', 'Eco+': '39'...","{'year': 2015, 'month': 10, 'day': 29}"
41,4X-ELF,747,,"{'year': 1994, 'month': 7, 'day': 27}","{'year': 2019, 'month': 7, 'day': 1}",NaN,"{'year': 2015, 'month': 7, 'day': 29}"
42,4X-EDA,787,אשדוד,"{'year': 2017, 'month': 7, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2017, 'month': 7, 'day': 29}"
43,4X-EDB,787,ראשון לציון,"{'year': 2017, 'month': 9, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2017, 'month': 9, 'day': 29}"
44,4X-EDC,787,תל אביב,"{'year': 2018, 'month': 1, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '35', 'Economy': '2...","{'year': 2018, 'month': 1, 'day': 29}"
45,4X-EDD,787,חיפה,"{'year': 2018, 'month': 2, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2018, 'month': 3, 'day': 1}"
46,4X-EDE,787,בת ים,"{'year': 2018, 'month': 6, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2018, 'month': 6, 'day': 29}"
47,4X-EDF,787,רחובות,"{'year': 2018, 'month': 7, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2018, 'month': 7, 'day': 30}"
48,4X-EDH,787,באר שבע,"{'year': 2018, 'month': 10, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2018, 'month': 10, 'day': 30}"
49,4X-EDI,787,הרצליה,"{'year': 2018, 'month': 12, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2018, 'month': 12, 'day': 30}"
50,4X-EDJ,787,כפר סבא,"{'year': 2019, 'month': 3, 'day': 27}","{'year': 2023, 'month': 5, 'day': 1}","{'Business': '32', 'Eco+': '28', 'Economy': '2...","{'year': 2019, 'month': 3, 'day': 30}"

## Start to collect data about flight

Define function that collect data about aircraft between 2 dates

we use date as dict in the formate:
{
    'year' : YYYY,
    'month' : MM,
    'day' : DD
}

In [37]:
def get_dates_between(start_date, end_date):
    delta = end_date - start_date      
    date_list = []                     
    
    for i in range(delta.days + 1):     
        date_list.append(start_date + timedelta(days=i))   
    
    return date_list

In [61]:
def get_aircraft_flights_from_api(tail_number,max_number_of_days,days_per_request,limit_date = None,):
    aircrafts_list = get_aircrafts_full_information()
    flights_list = []
    if(os.path.exists(FLIGHT_Data_FILE)):
        flights_list = load_object_from_file(FLIGHT_Data_FILE)
    print('Collectiong '+tail_number+' flights')
    for aircraft in aircrafts_list:
        if(aircraft[TAIL_NUMBER_FEILD_NAME] == tail_number):
            first_flight_date_dict = None
            last_flight_date_dict = None
            first_flight_date = datetime(2000,1,27)
            last_flight_date = datetime.today()
            
            if(LAST_SCANNED__DATE_FEILD_NAME in aircraft):
                first_flight_date_dict = aircraft[LAST_SCANNED__DATE_FEILD_NAME]

            if(limit_date):
                last_flight_date = limit_date

            elif(LAST_FLIGHT_DATE_FEILD_NAME in aircraft):
                last_flight_date_dict = aircraft[LAST_FLIGHT_DATE_FEILD_NAME]

            if(first_flight_date_dict):
                first_flight_date = datetime(int(first_flight_date_dict['year']), int(first_flight_date_dict['month']),int(first_flight_date_dict['day']) )
            
            if(last_flight_date_dict):
                last_flight_date = datetime(int(last_flight_date_dict['year']),int(last_flight_date_dict['month']),int(last_flight_date_dict['day']) )
            for current_date in (get_dates_between(first_flight_date,last_flight_date)[:max_number_of_days:days_per_request]):
                #print(tail_number+' '+str(current_date))
                new_flights , error = get_Flight_by_date_and_tail_number(current_date,tail_number.upper(),days_per_request)
                if(new_flights != None):
                    flights_list = load_object_from_file(FLIGHT_Data_FILE)
                    flights_list.extend(new_flights)
                    store_data_to_aircrafts_file(aircraft[TAIL_NUMBER_FEILD_NAME],LAST_SCANNED__DATE_FEILD_NAME,convert_daytime_to_dict(current_date + timedelta(1)))
                    store_object_to_file(FLIGHT_Data_FILE,flights_list)
                else:
                    store_object_to_file(FLIGHT_Data_FILE,flights_list)
                    return flights_list , error
                    
            return flights_list , error

In [39]:
def get_all_aricrafts_flights(max_number_of_days,days_per_request):
    aircrafts_list = get_aircrafts_full_information()[::-1]
    for aircraft in aircrafts_list:
        flights , error =get_aircraft_flights_from_api(aircraft[TAIL_NUMBER_FEILD_NAME],max_number_of_days,days_per_request)
        if(error):
            print(error)
            break
    return load_object_from_file(FLIGHT_Data_FILE)

In [62]:
for i in range(3):
    flights_list = get_all_aricrafts_flights(max_number_of_days=30,days_per_request=30)
    len(flights_list)

Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDJ flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDI flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDH flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDF flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDE flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDD flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELF flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELE flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELD flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKF flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECF flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECE flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECD flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ERC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ERB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ERA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDM flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDL flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDK flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHI flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHH flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHF flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHE flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHD flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKK flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKU flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKR flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKM flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKS flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKP flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKO flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKI flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKT flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKL flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKJ flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKH flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDJ flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDI flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDH flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDF flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDE flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDD flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELF flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELE flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELD flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKF flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EKA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECF flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECE flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECD flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ECA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ERC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ERB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ERA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDM flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDL flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDK flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELC flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELB flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-ELA flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHI flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHH flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHF flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHE flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EHD flights
{'httpStatusCode': 403, 'errorId': '6e94f4e0-9204-4359-a874-6ed385e03dfe', 'errorMessage': 'usage limits are exceeded'}
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDJ flights
Error resived data about 4x-ekk from FLightera web sit, error code: 403
Error resived data about 4x-elf from FLightera web sit, error code: 403
Collectiong 4X-EDI flights
{'httpStatusCode': 403, 'errorId': '0974b4b2-0f6b-40e3-9fc7-20a59e362875', 'errorMessage': 'usage limits are exceeded'}

In [41]:
# t = load_object_from_file(AIRCRAFTS_DATA_FILE)
# for ac in t:
#     ac[LAST_SCANNED__DATE_FEILD_NAME] = ac[FIRST_FLIGHT_DATE_FEILD_NAME]
# store_object_to_file(AIRCRAFTS_DATA_FILE,t)

# Data Exporation

## Intert all flights data into dataframe

In [42]:
def get_flights_dataframe():
    flights = load_object_from_file(FLIGHT_Data_FILE)
    return pd.DataFrame(flights)

## Preview the fights data

In [63]:
flights_df = get_flights_dataframe()

In [44]:

flights_df.head()

,flightId,carrierFsCode,operatingCarrierFsCode,primaryCarrierFsCode,flightNumber,departureAirportFsCode,arrivalAirportFsCode,departureDate,arrivalDate,status,schedule,operationalTimes,codeshares,delays,flightDurations,airportResources,flightEquipment,irregularOperations,divertedAirportFsCode
0,930925122,LY,LY,LY,1789,PAE,TLV,"{'dateUtc': '2017-08-22T18:15:00.000Z', 'dateL...","{'dateUtc': '2017-08-23T06:55:00.000Z', 'dateL...",L,"{'flightType': 'P', 'serviceClasses': 'RJY', '...",{'publishedDeparture': {'dateUtc': '2017-08-22...,[],{},"{'scheduledBlockMinutes': 760, 'airMinutes': 748}",{'arrivalTerminal': '3'},"{'scheduledEquipmentIataCode': '789', 'actualE...",[],NaN
1,932368916,LY,LY,LY,215,TLV,LHR,"{'dateUtc': '2017-09-04T08:35:00.000Z', 'dateL...","{'dateUtc': '2017-09-04T13:55:00.000Z', 'dateL...",L,"{'flightType': 'P', 'serviceClasses': 'RJY', '...",{'publishedDeparture': {'dateUtc': '2017-09-04...,[],{},"{'scheduledBlockMinutes': 320, 'airMinutes': 289}","{'departureTerminal': '3', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'tailNum...",[],NaN
2,932368962,LY,LY,LY,216,LHR,TLV,"{'dateUtc': '2017-09-04T16:00:00.000Z', 'dateL...","{'dateUtc': '2017-09-04T20:50:00.000Z', 'dateL...",L,"{'flightType': 'P', 'serviceClasses': 'RJY', '...",{'publishedDeparture': {'dateUtc': '2017-09-04...,[],{},"{'scheduledBlockMinutes': 290, 'airMinutes': 248}","{'departureTerminal': '4', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'tailNum...",[],NaN
3,932586208,LY,LY,LY,225,TLV,CDG,"{'dateUtc': '2017-09-06T16:15:00.000Z', 'dateL...","{'dateUtc': '2017-09-06T21:10:00.000Z', 'dateL...",L,"{'flightType': 'P', 'serviceClasses': 'RJY', '...",{'publishedDeparture': {'dateUtc': '2017-09-06...,[],{},{'scheduledBlockMinutes': 295},"{'departureTerminal': '3', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'tailNum...",[],NaN
4,932696349,LY,LY,LY,226,CDG,TLV,"{'dateUtc': '2017-09-06T23:10:00.000Z', 'dateL...","{'dateUtc': '2017-09-07T03:35:00.000Z', 'dateL...",L,"{'flightType': 'P', 'serviceClasses': 'RJY', '...",{'publishedDeparture': {'dateUtc': '2017-09-06...,[],{},{'scheduledBlockMinutes': 265},"{'departureTerminal': '2A', 'arrivalTerminal':...","{'scheduledEquipmentIataCode': '789', 'tailNum...",[],NaN

In [81]:
flights_df.drop_duplicates

AttributeError: 'function' object has no attribute 'heaf'

In [46]:
flights_df.describe()

           flightId
count  4.680000e+03
mean   9.810315e+08
std    1.564892e+08
min    6.175302e+08
25%    9.325862e+08
50%    1.076949e+09
75%    1.097099e+09
max    1.155650e+09

## Add aircraft data into flights data

We can add more information ablur each flight if we merge out air craft data with the aircraft used in the spesific flight

the next function add the air craft seats number dictionary as flight feature

In [47]:
def add_aircraft_seats_number_to_flight(flights_df, aircrafts_df):
    flights_df[SEATS_FEILD_NAME] = aircrafts_df[SEATS_FEILD_NAME]
    return flights_df

In [48]:
flights_df =  add_aircraft_seats_number_to_flight(flights_df,aircrafts_df)
flights_df

,flightId,carrierFsCode,operatingCarrierFsCode,primaryCarrierFsCode,flightNumber,departureAirportFsCode,arrivalAirportFsCode,departureDate,arrivalDate,status,schedule,operationalTimes,codeshares,delays,flightDurations,airportResources,flightEquipment,irregularOperations,divertedAirportFsCode,seats
0,930925122,LY,LY,LY,1789,PAE,TLV,"{'dateUtc': '2017-08-22T18:15:00.000Z', 'dateL...","{'dateUtc': '2017-08-23T06:55:00.000Z', 'dateL...",L,"{'flightType': 'P', 'serviceClasses': 'RJY', '...",{'publishedDeparture': {'dateUtc': '2017-08-22...,[],{},"{'scheduledBlockMinutes': 760, 'airMinutes': 748}",{'arrivalTerminal': '3'},"{'scheduledEquipmentIataCode': '789', 'actualE...",[],NaN,"{'Business': '16', 'Economy': '138'}"
1,932368916,LY,LY,LY,215,TLV,LHR,"{'dateUtc': '2017-09-04T08:35:00.000Z', 'dateL...","{'dateUtc': '2017-09-04T13:55:00.000Z', 'dateL...",L,"{'flightType': 'P', 'serviceClasses': 'RJY', '...",{'publishedDeparture': {'dateUtc': '2017-09-04...,[],{},"{'scheduledBlockMinutes': 320, 'airMinutes': 289}","{'departureTerminal': '3', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'tailNum...",[],NaN,"{'Business': '16', 'Economy': '138'}"
2,932368962,LY,LY,LY,216,LHR,TLV,"{'dateUtc': '2017-09-04T16:00:00.000Z', 'dateL...","{'dateUtc': '2017-09-04T20:50:00.000Z', 'dateL...",L,"{'flightType': 'P', 'serviceClasses': 'RJY', '...",{'publishedDeparture': {'dateUtc': '2017-09-04...,[],{},"{'scheduledBlockMinutes': 290, 'airMinutes': 248}","{'departureTerminal': '4', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'tailNum...",[],NaN,"{'Business': '16', 'Economy': '138'}"
3,932586208,LY,LY,LY,225,TLV,CDG,"{'dateUtc': '2017-09-06T16:15:00.000Z', 'dateL...","{'dateUtc': '2017-09-06T21:10:00.000Z', 'dateL...",L,"{'flightType': 'P', 'serviceClasses': 'RJY', '...",{'publishedDeparture': {'dateUtc': '2017-09-06...,[],{},{'scheduledBlockMinutes': 295},"{'departureTerminal': '3', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'tailNum...",[],NaN,"{'Eco+': '36', 'Economy': '144'}"
4,932696349,LY,LY,LY,226,CDG,TLV,"{'dateUtc': '2017-09-06T23:10:00.000Z', 'dateL...","{'dateUtc': '2017-09-07T03:35:00.000Z', 'dateL...",L,"{'flightType': 'P', 'serviceClasses': 'RJY', '...",{'publishedDeparture': {'dateUtc': '2017-09-06...,[],{},{'scheduledBlockMinutes': 265},"{'departureTerminal': '2A', 'arrivalTerminal':...","{'scheduledEquipmentIataCode': '789', 'tailNum...",[],NaN,"{'Business': '16', 'Economy': '150'}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4675,970642351,LY,LY,LY,26,EWR,TLV,"{'dateUtc': '2018-08-23T01:00:00.000Z', 'dateL...","{'dateUtc': '2018-08-23T11:25:00.000Z', 'dateL...",L,"{'flightType': 'J', 'serviceClasses': 'RFJY', ...",{'publishedDeparture': {'dateUtc': '2018-08-23...,[],"{'departureGateDelayMinutes': 17, 'departureRu...","{'scheduledBlockMinutes': 625, 'blockMinutes':...","{'departureTerminal': 'B', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'actualE...",[],NaN,NaN
4676,970760001,LY,LY,LY,11,TLV,JFK,"{'dateUtc': '2018-08-23T13:30:00.000Z', 'dateL...","{'dateUtc': '2018-08-24T01:40:00.000Z', 'dateL...",L,"{'flightType': 'J', 'serviceClasses': 'RFJY', ...",{'publishedDeparture': {'dateUtc': '2018-08-23...,"[{'fsCode': 'AM', 'flightNumber': '7865', 'rel...","{'departureGateDelayMinutes': 46, 'departureRu...","{'scheduledBlockMinutes': 730, 'blockMinutes':...","{'departureTerminal': '3', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'actualE...",[],NaN,NaN
4677,970760134,LY,LY,LY,8,JFK,TLV,"{'dateUtc': '2018-08-24T03:45:00.000Z', 'dateL...","{'dateUtc': '2018-08-24T14:35:00.000Z', 'dateL...",L,"{'flightType': 'J', 'serviceClasses': 'RFJY', ...",{'publishedDeparture': {'dateUtc': '2018-08-24...,[],"{'departureGateDelayMinutes': 20, 'departureRu...","{'scheduledBlockMinutes': 650, 'blockMinutes':...","{'departureTerminal': '4', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'actualE...",[],NaN,NaN
4678,971106424,LY,LY,LY,27,TLV,EWR,"{'dateUtc': '2018-08-25T21:45:00.000Z', 'dateL...","{'dateUtc': '2018-08-26T09:30:00.000Z', 'dateL...",L,"{'flightType': 'J', 'serviceClasses': 'RFJY', ...",{'publishedDeparture': {'dateUtc': '2018-08-25...,[],"{'departureGateDelayMinutes': 24, 'departureRu...","{'scheduledBlockMinutes': 705, 'blockMinutes':...","{'departureTerminal': '3', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'actualE...",[],NaN,NaN
4679,971106404,LY,LY,LY,28,EWR,TLV,"{'dateUtc': '2018-08-26T17:30:00.000Z', 'dateL...","{'dateUtc': '2018-08-27T03:55:00.000Z', 'dateL...",L,"{'flightType': 'J', 'serviceClasses': 'RFJY', ...",{'publishedDeparture': {'dateUtc': '2018-08-26...,[],"{'departureGateDelayMinutes': 7, 'departureRun...","{'scheduledBlockMinutes': 625, 'blockMinutes':...","{'departureTerminal': 'B', 'arrivalTerminal': ...","{'scheduledEquipmentIataCode': '789', 'actualE...",[],NaN,NaN

In [49]:
def get_arrivalGateDelayMinutes(delays_dict,feild):
    if feild in delays_dict:
        return delays_dict[feild]
    else:
        return np.NAN

Calculate the delay time  as sum of gate delay and runway delay
if after this calc there is na value we need drop it

In [50]:
def proccess_delay_column(df):
    df['departureRunwayDelayMinutes'] = df['delays'].apply(lambda dict: get_arrivalGateDelayMinutes(dict,'departureRunwayDelayMinutes'))
    df['departureGateDelayMinutes'] = df['delays'].apply(lambda dict: get_arrivalGateDelayMinutes(dict,'departureGateDelayMinutes'))
    # df['arrivalGateDelayMinutes'] = df['delays'].apply(lambda dict: get_arrivalGateDelayMinutes(dict,'arrivalGateDelayMinutes'))
    # df['arrivalRunwayDelayMinutes'] = df['delays'].apply(lambda dict: get_arrivalGateDelayMinutes(dict,'arrivalRunwayDelayMinutes'))
    df['delay_time'] = df['departureRunwayDelayMinutes'] + df['departureGateDelayMinutes']
    #df['delay_time']=df['delay_time'].fillna(0)

    df = df.drop('departureRunwayDelayMinutes',axis = 1)
    df = df.drop('departureGateDelayMinutes',axis = 1)
    df= df.drop('delays',axis = 1)
    return df

In [51]:
def get_flightModel(dict):
    if 'actualEquipmentIataCode' in dict:
        return dict['actualEquipmentIataCode']
    elif 'scheduledEquipmentIataCode' in dict:
        return dict['scheduledEquipmentIataCode']
    return np.nan

In [52]:
def get_tailnumber(dict):
    if 'tailNumber' in dict:
        return dict['tailNumber']
    return np.nan

In [53]:
def get_flight_time(dict):
    if 'airMinutes' in dict:
        return dict['airMinutes']
    return np.nan

In [54]:
def get_departure_terminal(dict):
    if 'departureTerminal' in dict:
        return dict['departureTerminal']
    return np.nan

In [55]:
def get_arival_terminal(dict):
    if 'arrivalTerminal' in dict:
        return dict['arrivalTerminal']
    return np.nan

In [56]:
def get_dataframe_after_prossess(df):
    df = proccess_delay_column(df)
    df = df.drop('status',axis = 1)
    df = df.drop('operatingCarrierFsCode',axis = 1)
    df = df.drop('primaryCarrierFsCode',axis = 1)
    df = df.drop('carrierFsCode',axis = 1)
    df = df.drop('flightId',axis = 1)
    df = df.drop('codeshares',axis = 1)
    df = df.drop('operationalTimes',axis = 1)
    df = df.drop('schedule',axis = 1)
    df = df.drop('irregularOperations',axis = 1)
    df = df.drop('divertedAirportFsCode', axis = 1)
    df['aircraft_model'] = df['flightEquipment'].apply(lambda x: get_flightModel(x))
    df['tailnumber'] = df['flightEquipment'].apply(lambda x: get_tailnumber(x))
    df = df.drop('flightEquipment',axis=1)
    df['flights_time'] = df['flightDurations'].apply(lambda x: get_flight_time(x))
    df = df.drop('flightDurations',axis = 1)
    df['departureTerminal'] = df['airportResources'].apply(lambda x: get_departure_terminal(x))
    df['arrivalTerminal'] = df['airportResources'].apply(lambda x: get_arival_terminal(x))
    df = df.drop('airportResources',axis=1)

    return df

In [57]:
df = get_dataframe_after_prossess(flights_df)

In [58]:
df

,flightNumber,departureAirportFsCode,arrivalAirportFsCode,departureDate,arrivalDate,seats,delay_time,aircraft_model,tailnumber,flights_time,departureTerminal,arrivalTerminal
0,1789,PAE,TLV,"{'dateUtc': '2017-08-22T18:15:00.000Z', 'dateL...","{'dateUtc': '2017-08-23T06:55:00.000Z', 'dateL...","{'Business': '16', 'Economy': '138'}",NaN,789,4X-EDA,748.0,NaN,3
1,215,TLV,LHR,"{'dateUtc': '2017-09-04T08:35:00.000Z', 'dateL...","{'dateUtc': '2017-09-04T13:55:00.000Z', 'dateL...","{'Business': '16', 'Economy': '138'}",NaN,789,4X-EDA,289.0,3,4
2,216,LHR,TLV,"{'dateUtc': '2017-09-04T16:00:00.000Z', 'dateL...","{'dateUtc': '2017-09-04T20:50:00.000Z', 'dateL...","{'Business': '16', 'Economy': '138'}",NaN,789,4X-EDA,248.0,4,3
3,225,TLV,CDG,"{'dateUtc': '2017-09-06T16:15:00.000Z', 'dateL...","{'dateUtc': '2017-09-06T21:10:00.000Z', 'dateL...","{'Eco+': '36', 'Economy': '144'}",NaN,789,4X-EDA,NaN,3,2A
4,226,CDG,TLV,"{'dateUtc': '2017-09-06T23:10:00.000Z', 'dateL...","{'dateUtc': '2017-09-07T03:35:00.000Z', 'dateL...","{'Business': '16', 'Economy': '150'}",NaN,789,4X-EDA,NaN,2A,3
...,...,...,...,...,...,...,...,...,...,...,...,...
4675,26,EWR,TLV,"{'dateUtc': '2018-08-23T01:00:00.000Z', 'dateL...","{'dateUtc': '2018-08-23T11:25:00.000Z', 'dateL...",NaN,46.0,789,4X-EDF,584.0,B,3
4676,11,TLV,JFK,"{'dateUtc': '2018-08-23T13:30:00.000Z', 'dateL...","{'dateUtc': '2018-08-24T01:40:00.000Z', 'dateL...",NaN,96.0,789,4X-EDF,667.0,3,4
4677,8,JFK,TLV,"{'dateUtc': '2018-08-24T03:45:00.000Z', 'dateL...","{'dateUtc': '2018-08-24T14:35:00.000Z', 'dateL...",NaN,40.0,789,4X-EDF,575.0,4,3
4678,27,TLV,EWR,"{'dateUtc': '2018-08-25T21:45:00.000Z', 'dateL...","{'dateUtc': '2018-08-26T09:30:00.000Z', 'dateL...",NaN,63.0,789,4X-EDF,692.0,3,B
4679,28,EWR,TLV,"{'dateUtc': '2018-08-26T17:30:00.000Z', 'dateL...","{'dateUtc': '2018-08-27T03:55:00.000Z', 'dateL...",NaN,19.0,789,4X-EDF,566.0,B,3

In [59]:

date = df['departureDate'][0]['dateUtc']
date

'2017-08-22T18:15:00.000Z'

In [60]:
date = datetime.strftime(date,'%Y-%m-%dT%H:%M:%S.%f')

TypeError: descriptor 'strftime' requires a 'datetime.date' object but received a 'str'